*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

.container{
    height: 400px;
    border: 2px solid green;
    display: flex;
    /* flex-direction: column;
    flex-direction: column-reverse;
    flex-direction: row-reverse;
    flex-direction: row; */   /* Default */

    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse;
    flex-wrap: nowrap; */   /* Default */

    /* flex-flow:row-reverse wrap-reverse ; */

    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: space-between;

    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: baseline;
    align-items: stretch;  /* Default */

    justify-content: center;
    align-items: center;
    /* gap: 10px; */

    align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-between;
    align-content: space-around;
    align-content: space-evenly;
    align-content: flex-start;

}

.box{
    border: 1px solid brown;
    background-color: cornflowerblue;
    width: 100px;
    /* flex-grow: 1; */
    /* flex-basis: 50px; */
    flex-basis: 50%;
}

#box1{
    order: 1;
    /* flex-grow: 1; */
    /* flex-shrink: 4; */
    align-self: flex-start;
}

#box3{
    order: 5;
    /* flex-grow: 3; */
    /* flex-shrink: 2; */
    align-self: flex-end;
}

#box2{
    order: 3;
    align-self: stretch;
}
